# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - WeBidfrontend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '24.x'

      - name: npm install and build
        run: |
          npm ci
          npm run build

      - name: Create deployment package
        run: |
          mkdir deployment
          cp -r .next deployment/
          cp -r public deployment/
          cp -r app deployment/
          cp -r employee deployment/
          cp -r scripts deployment/
          cp package*.json deployment/
          cp tsconfig.json deployment/
          cp next-env.d.ts deployment/
          echo "SCM_DO_BUILD_DURING_DEPLOYMENT=false" > deployment/.deployment
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: deployment/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_3C532329D9C54E408D4BF96D1328278C }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_1832C94264004B83BAD24AD70EB1870D }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_48CD03A14424489386F8B5F6B16250C6 }}

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'WeBidfrontend'
          slot-name: 'Production'
          package: .

